body {
    margin: 0px;
    padding: 0px;
    background-image: url("images/1824976.jpg");
    color: aliceblue;
    font-style:oblique
}

main {
    padding: 16px;
    color: beige;
    font-style:oblique
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    color: white;
    font-style:oblique
}

img {
    height: 200px;
    box-sizing: border-box;
    display: flex;
    flex: auto;
    padding: 5px;
}

nav {
    border-bottom: 24px, white;
    padding-bottom: 16px;
    color: blanchedalmond;
    font-style:oblique
}
